<!-- templates/pages/about.html -->
{% extends 'base.html' %}

{% block content %}
    <section id="about">
        <h2>About</h2>
        

        <p>Welcome to the Women's Health App! Hello, my name is Alyssa Sorensen, and the motivation behind creating this web application arises from my genuine passion for exploring the nuances of women's health. Eager to disseminate the wealth of knowledge I've accumulated, I've developed this platform to share valuable resources and information with others who have a similar interest in the well-being of women. My mission is to provide a comprehensive platform dedicated to women's health. Whether you are seeking information on reproductive health, tips for mental well-being, or fitness facts tailored to women, I strive to empower and support you on your health journey. Explore the tabs to discover a wealth of knowledge and resources.</p>
    </section>
{% endblock %}


