<!-- templates/pages/fitness.html -->
{% extends 'base.html' %}

{% block content %}
    <section id="fitness">
        <h2>Fitness</h2>
        

        <p>Fitness plays a vital role in maintaining a woman's overall health and well-being. Regular physical activity not only contributes to physical strength and flexibility but also has profound effects on mental and emotional health. The Women's Health App is committed to promoting the importance of fitness in women's lives. Explore fitness data, wellness tips, and information on various forms of exercise. Whether you're interested in cardio, strength training, or any other forms of exercise, this platform is here to guide and inspire you on your fitness journey. Embrace the benefits of an active lifestyle and discover how it can enhance your overall health and vitality.</p>
    </section>
{% endblock %}