<!-- templates/pages/mental.html -->
{% extends 'base.html' %}

{% block content %}
    <section id="mental">
        <h2>Mental Well-Being</h2>

        
        <p>Mental well-being is a fundamental aspect of a woman's overall health. The Women's Health App is dedicated to providing valuable insights and resources to support mental well-being. Explore articles, tips, and practices designed to enhance your mental health, manage stress, and promote emotional resilience. Whether you're seeking guidance on mindfulness, stress reduction, or building positive habits, this platform is here to help you prioritize and nurture your mental well-being.</p>
    </section>
{% endblock %}
