<!-- templates/pages/reproductive.html -->
{% extends 'base.html' %}

{% block content %}
    <section id="reproductive">
        <h2>Reproductive Health</h2>
        

        <p>Reproductive health is a crucial aspect of a woman's well-being. Understanding one's reproductive system, menstrual health, and family planning is empowering. The Women's Health App is designed to provide accurate and reliable information about reproductive health. Explore a wealth of facts, articles, and resources tailored to help women make informed decisions about their reproductive well-being. Whether you're curious about menstrual cycles, data on women's health, or resources, this platform is here to support your journey to knowledge and wellness.</p>
    </section>
{% endblock %}